.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #009dff;
}

.footer p{
    font-size: 1rem;
    font-weight: 500;

}

@media(max-width:768px){
    .footer p{
        font-size: 0.8rem;
        font-weight: 400;
    }
}